* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #dbe2ef;
  --secondary-colour: #112d4e;
}

body {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

.heading {
  text-align: center;
  margin-top: 10%;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.description {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.container label {
  margin: 0.5rem 0rem;
}

.container input {
  padding: 0.75rem;
  width: 80%;
  margin-bottom: 0.5rem;
}

.check-money {
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 60%;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  margin-bottom: 1.2rem;
}
