* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #dbe2ef;
  --secondary-colour: #112d4e;
}

body {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
}

.heading {
  text-align: center;
  margin-top: 5%;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.description {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.container label {
  margin: 0.5rem auto;
}

.container input {
  padding: 0.75rem;
  width: 80%;
  margin: 0.5rem auto;
}

.check-money {
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 60%;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  margin: 1.2rem auto;
}

.message {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

table {
  margin: 0.5rem;
  border: 1px solid black;
}

th,
td {
  padding: 2px;
  border: 1px solid black;
}

/* Footer  */
.footer {
  position: fixed;
  bottom: 0;
  left: 45vw;
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}
